.hu26 {
    display: flex;
    gap: 2rem;
    padding: 2rem 0 0;
}
@media (max-width:991px) {
    .hu26 {
        flex-wrap: nowrap;
        justify-content: center;
    }
}
@media (max-width:638px) {
    .hu26 {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0;
    }
}